
@{
    ViewData["Title"] = "Index with form";
}

<form action="/Home/Index" method="post">
   <label>link</label><input type="text" name="link2" value="" />
    <button type="submit" value="submit">Dodaj link</button>
</form>
